@(theform: Form[ItemOrder])

@import helper._

@main("Todo list") {
  <h2>Add a new item</h2>

  @form(routes.ItemOrderController.saveItem) {
  @inputText(theform("item_id"))
  @inputText(theform("minimumbuyers"))
  @inputText(theform("membercost"))
  @inputText(theform("description"))
  @inputText(theform("deadline_by"))
  @inputText(theform("deliveryaddress"))
  @inputText(theform("created_at"))
  @inputText(theform("created_by_id"))
  @inputText(theform("coop_id"))
    
  <input type="submit" value="Create">
  }

}
