
#menu,
#menu ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display:inline;
  float:left;
}
#menu li {
    float:left;
}
#menu ul li {
  display: inline;
  position: relative;
  float: left;
  list-style:none;
  height:30px;
}
#menu li ul { display: none; }
#menu li a,
#menu ul li a {
  display: block;
  text-decoration: none;
  color: #371C1C;
  border-top: 1px solid #ffffff;
  font-size:21px;
  padding-right:32px;
  padding-left:32px;
  background: #2C5463;
  margin-left: 1px;
  white-space: nowrap;
}
#menu ul li a:hover { background: #617F8A; }
#menu li:hover ul {
  display: block;
  position: absolute;
}
#menu li:hover li {
  float: none;
  font-size: 11px;
}
#menu li:hover a { background: #617F8A; }
#menu li:hover li a:hover { background: #95A9B1; }

#content {
    background-color:#EEEEEE;height:550px;width:600px;float:left;
}
#pagetitle {
    background-color:#EEEEFF;height:50px;width:600px;float:left;
}

span.label {
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
}

label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}
label:after { content: ": " }

#footer{
    background-color:#FFA500;clear:both;text-align:center;
}
#container {
    width:600px;
}

#globaltitle{
    background:url(/assets/images/bg-wood-header.jpg) top left repeat-x;height:60px
}

dl {
    width:100%;
    background:#ff0;
    overflow:hidden;
}
dl dt {
    float:left;
    width:20%;
    background:#cc0;
}
dl dd {
    float:left;
    width:25%;
    background:#dd0;
    
}
dl dd.info {
    float:left;
    color: #060;
    font-size: 85%;
    display:block;
    font-style:normal;
    text-transform:uppercase;
    background:#ee0;
    width:25%;
}