
#menu,
#menu ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display:inline;
  float:left;
}
#menu li {
    float:left;
}
#menu ul li {
  display: inline;
  position: relative;
  float: left;
  list-style:none;
  height:30px;
}
#menu li ul { display: none; }
#menu li a,
#menu ul li a {
  display: block;
  text-decoration: none;
  color: #371C1C;
  border-top: 1px solid #ffffff;
  font-size:21px;
  padding-right:32px;
  padding-left:32px;
  background: #2C546;
  margin-left: 1px;
  white-space: nowrap;
}
#menu ul li a:hover { background: #617F8A; }
#menu li:hover ul {
  display: block;
  position: absolute;
}
#menu li:hover li {
  float: none;
  font-size: 11px;
}
#menu li:hover a { background: #617F8A; }
#menu li:hover li a:hover { background: #95A9B1; }

#content {
    padding-top:20px;
    padding-bottom:20px;
    background-color:#EEEEEE;height:550px;width:600px;float:left;
}
#pagetitle {
    background-color:#EEEEFF;height:50px;width:600px;float:left;
}

span.label {
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
}

label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}
label:after { content: ": " }

#footer{
    background-color:#FFA500;clear:both;text-align:center;
}
#container {
    width:600px;
}

#globaltitle{
    background:url(/assets/images/bg-wood-header.jpg) top left repeat-x;height:60px
}

dd {
    margin:0;
}
dt {
    font-weight:bold;
    font-family:serif;
    font-size:1.5em;
}
dl {
    width:100%;
    background:#ebf4fb;
    overflow:hidden;
}
dl dt {
    float:left;
    font-weight:bold;
    text-align:right;
    width:140px;
}
dl dd {
    float:left;
    width:200px;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin: 2px 0 20px 10px;
}
dl dd.info {
    float:right;
    color: #060;
    font-size: 85%;
    display:block;
    font-style:normal;
    text-transform:uppercase;
    width:10em;
}

button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold
}