@(coopId: Long, id: Long, theform: Form[ItemOrder])

@import helper._

@main("stuff") {
  <h2>Edit a new item</h2>

  @form(actions.routes.EditItemOrderInCoopAction.updateItem(coopId, id)) {
  @inputText(theform("bulkitem_id"))
  @inputText(theform("minimumbuyers"))
  @inputText(theform("itemcost"))
  @inputText(theform("itemdescription"))
  @inputText(theform("deadline_by"))
  @inputText(theform("deliveryaddress"))
  @inputText(theform("created_at"))
  @inputText(theform("created_by_id"))
  @inputText(theform("coop_id"))
    
  <input type="submit" value="Create">
  }
    
}
	
