@(theform: Form[Item])(implicit session: Session)

@import models.ItemType
@import helper._
@import helpers.Utils

@main("Add Item") {
} {
  @form(actions.routes.AddItemAction.saveItem()) {
  @inputText(theform("name"))
  @inputText(theform("description"))

  @select(
  theform("item_type_id"), 
  ItemType.options,
  '_label -> "Item Type", 
  '_default -> "-- Choose a Item Type --", 
  '_showConstraints -> false)

  @select(
  theform("vendor_id"), 
  Vendor.options,
  '_label -> "Vendor", 
  '_default -> "-- Choose a Vendor --", 
  '_showConstraints -> false,
  '_error -> "Choose a Vendor")


  @inputText(theform("cost"))
  @inputText(theform("url"))

  <input type="hidden" id="created_by_id" name="created_by_id" value="@Utils.getLoggedInUser(session).id"/>

  <input type="submit" value="Add Item">
  }
}
