@(coopId: Long, id: Long, theform: Form[ItemOrder])(implicit session: Session)

@import helper._

@main("Edit Order") {

}{
  @form(actions.routes.EditItemOrderAction.updateItem(coopId, id)) {
  @inputText(theform("bulkitem_id"))
  @inputText(theform("minimumbuyers"))
  @inputText(theform("itemcost"))
  @inputText(theform("itemdescription"))
  @inputText(theform("paymentinstructions"))
  @inputDate(theform("deadline_by"))
  @inputText(theform("deliveryaddress"))
  @inputText(theform("created_at"))
  @inputText(theform("created_by_id"))
  @inputText(theform("coop_id"))
    
  <input type="submit" value="Save">
  }
    
}
	
