@(id: Long, theform: Form[Member])(implicit session: Session)

@import helper._

@main("Edit Profile") {
} {   
  @form(actions.routes.EditMemberAction.updateItem(id)) {
    @inputText(theform("name"))
    @inputText(theform("email"))
    @inputPassword(theform("password"))
    @inputText(theform("cell"))
    @inputText(theform("address"))

    @select(
      theform("state_id"), 
      State.options,
      '_label -> "State", 
      '_default -> "-- Choose a State --", 
      '_showConstraints -> false,
      '_error -> theform.error("state_id"))

    @inputText(theform("zip_code"))

    <input type="submit" value="Update">
  }
}
	
