@(member: Member, coops: List[Coop])(implicit session: Session) 

@import helpers.Utils
@import models.Member
@import models.Coop

@main("The Easy Coop") {
  no menu
} {
  
 @if(Utils.isLogin(session)) { 
   
   <ul>Navigate to one of your Coops
   @coops.map { coop =>
     <li><a href="/coops/@coop.id">@coop.name</a>
	     }
   <li><a href="/coops/new">Start a Coop</a>
    
   </ul>
    
      
  } else { 
    <h1><a href="/members/new">Register as User</a></h1>
    <br/>
    <h1><a href="/login">Already Registered?  Login to your Coop</a></h1>

  }
  
}
