@(items: List[ItemOrder])(implicit session: Session)

@import helper._
@import views.html.tags._

@main("Listing Orders") {
} {
  <h1>@items.size Item(s) </h1>
  <ul>
    @items.map { i =>
    <li>
		<a href="/items/@i.item_id">@i.item.name ( @i.id ) </a><br/>
		Description: @i.description <br/>
		Miniumum Buyers: @i.minimumbuyers <br/> 
		Member Cost: @i.membercost <br/> 
		Deadline: @i.deadline_by <br/>
		Delivery Address: @i.deliveryaddress <br/>
		Created At: @i.created_at <br/>
		Created By: @member(i.createdBy)

    </li>
    }
  </ul>
}
