@(form: Form[(String,String)])(implicit flash: Flash, session: Session)

@main("Login to EasyCoop") {
no menu
}{
  
  <h1>New Members</h1>
  <a href="/members/new">Register as User</a></h1>

  @helper.form(actions.routes.LoginAction.authenticate) {

    <h1>Current Members Sign In</h1>

    @form.globalError.map { error =>
      <p class="error">
			   @error.message
			   </p>
			 }

    @flash.get("success").map { message =>
      <p class="success">
			       @message
			       </p>
			     }
    
    <p>
    <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
    </p>
    <p>
    <input type="password" name="password" id="password" placeholder="Password">
    </p>
    <p>
    <button type="submit" id="loginbutton">Login</button>
    </p>
    
  }
  
  <p class="note">
  Try <em>joshua@@gmail.com</em> with <em>password</em> as password.<br>
  Try <em>supreme@@aol.com</em> with <em>password</em> as password.<br>
  </p>
  
}

  


