@(title: String)(menu: Html)(content: Html)(implicit session: Session)

@import helpers.Utils

<!DOCTYPE html>

<html>
<head>

<title>The Easy Coop</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/newmain.min.css")?reload">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")?reload">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
<div id="container">
<div id="header">
<div id="globaltitle">
The Easy Coop - @title
</div>
<ul id="menu">
  <li><a href="#">Browse</a>
<ul>
<li><a href="/vendors">Vendors</a></li>
<li><a href="/items">Items</a></li>
<li><a href="/coops">Coops</a></li>
</ul>
  <li><a href="#">Contribute</a>
<ul>
@if(Utils.isLogin(session)) {
  <li><a href="/vendors/new">Add Vendor</a></li>
  <li><a href="/items/new">Add Item</a></li>
  <li><a href="/coops/new">Start a Coop</a></li>
}
@menu
</ul>
  </li>
  <li><a href="#">User</a>
<ul>
@if(Utils.isLogin(session)) {
  <li><a href="/members/@Utils.getLoggedInUser(session).id">My Profile</a></li>
  @Utils.getLoggedInUser(session).coops.map { coop =>
    <li><a href="/coops/@coop.id">@coop.name</a></li>
					   }
  <li><a href="/logout">Logout</a></li>
} else {
  <li><a href="/">Login</a></li>
}
</ul>
  </li>
</ul>

<div id="content">

@content
</div>

<div id="footer">
@if(Utils.isLogin(session)) {
  logged in as : @Utils.getLoggedInUser(session).email
}
</div>
</body>
</html>
