@(coop: Coop, theform: Form[ItemOrder])(implicit session: Session)

@import helper._
@import actions.routes._
@import helpers.Utils

@main("Add Item Order to Coop") {
}{

  <h2>Add a new item</h2>

  @form(AddItemOrderToCoopAction.saveItemByCoop(coop.id.get)) {
  @select(
  theform("bulkitem_id"), 
  Item.options,
  '_label -> "BulkItem", 
  '_default -> "-- Choose a bulk item --", 
  '_showConstraints -> false)

  @inputText(theform("minimumbuyers"), '_showErrors -> true)
  @inputText(theform("itemcost"), '_showErrors -> true)
  @inputText(theform("itemdescription"), '_showErrors -> true)
  @inputText(theform("deadline_by"), '_showErrors -> true)
  @inputText(theform("deliveryaddress"), '_showErrors -> true)

  <input type="hidden" id="created_at" name="created_at" value="@Utils.getCurrentDate()"/>

  <input type="hidden" id="created_by_id" name="created_by_id" value="@Utils.getLoggedInUser(session).id"/>
  <input type="hidden" id="coop_id" name="coop_id" value="@coop.id"/>
  <input type="submit" value="Create">
  }

}
