@(theform: Form[Member])(implicit session: Session)
@import helper._


@main("Register as new User") {

}{

  @form(actions.routes.RegisterMemberAction.submitForm) {
    @inputText(
      theform("name"), 
      '_label -> null,
      '_help -> "Please enter your name.",
      '_error -> theform.globalError
    )
    @inputText(theform("email"))
    @inputPassword(theform("password"))
    @helper.input(theform("cell")) { (id, name, value, args) =>
      <input type="text" placeholder="@name" name="@name" id="@id" @toHtmlArgs(args)>
				 }
    @textarea(field = theform("address"), args = 'rows -> 3, 'cols -> 30)
      @select(
	theform("state_id"), 
	State.options,
	'_label -> "State", 
	'_default -> "-- Choose a State --", 
	'_showConstraints -> false,
	'_error -> theform.error("state_id"))
    
    @inputText(theform("zip_code"),
	       '_label -> "Zip Code")
    
    <input type="submit" value="Create">
  }
  
}
