@(coop: Coop)(implicit session: Session) 

@import helpers.Utils

@main(title="Showing Coop"){
  @if(coop.isManager(Utils.getLoggedInUser(session))) {
    <a href="@actions.routes.AddMemberToCoopAction.actionForm(coop.id.get)">Add a member</a>
    <br/>
    <a href="@actions.routes.AddItemOrderToCoopAction.newItemByCoop(coop.id.get)">Add an Item Order</a>

  }
} {
  
  @{coop.name}
  <br>
  @{coop.description}
  <br>
  @{coop.manager}

  <br>
  Members:
  <ul>
  @coop.members.map { member =>
    <li>@member.id - @member.name - @member.name
              }
  </ul>



  <br/>
  ItemOrders

  <ul>
  @coop.itemOrders.map { itemOrder =>
    <li><a href="@actions.routes.ShowItemOrderInCoopAction.showItem(coop.id.get, itemOrder.id.get)">@itemOrder.id - @itemOrder.description - @itemOrder.item.name</a>
              }
  </ul>

  

}

    
