@(coop: Coop, members: List[Member])(implicit session: Session) 

@import helpers.Utils

@main("Showing Coop") {
  
  @{coop.name}
  <br>
  @{coop.description}
  <br>
  @{coop.manager}

  <br>
  Members:
  <ul>
  @coop.members.map { member =>
    <li>@member.id - @member.name - @member.name
              }
  </ul>


  @if(coop.isManager(Utils.getLoggedInUser(session))) {
    <a href="@actions.routes.AddMemberToCoopAction.actionForm(coop.id.get)">Add a member</a>
  }

  <br/>
  ItemOrders

  <ul>
  @coop.itemOrders.map { itemOrder =>
    <li>@itemOrder.id - @itemOrder.description - @itemOrder.item.name
              }
  </ul>
  

}

    
