@(item: Member)(implicit session: Session) 

@import helpers.Utils

@main(title="Showing Member"){
  <li><a href="/members/@item.id/edit">Edit Profile</a></li>
} {
  <span class="label">id:</span>  
  @{item.id}
  <br/>
  <span class="label">name:</span> @{item.name}
  <br>
  <span class="label">email:</span>  

  @{item.email}
  <br>
  <span class="label">Cell:</span>  

  @{item.cell}
  <br>
  <span class="label">Address:</span>  

  @{item.address}
  <br>
  <span class="label">state:</span> @{item.state.name}
  <br>
  <span class="label">zip code:</span>  

   @{item.zip_code}

}

    
