@(coop: Coop)(implicit session: Session) 

@import helpers.Utils
@import views.html.tags._

@main(title=coop.name){
  <ul>
  @if(Utils.isManager(session, coop)) {
    <li><a href="@actions.routes.EditCoopAction.editItem(coop.id.get)">Edit Coop</a></li>
    <li><a href="@actions.routes.AddMemberToCoopAction.actionForm(coop.id.get)">Add a member</a></li>
    <li><a href="@actions.routes.AddItemOrderToCoopAction.newItemByCoop(coop.id.get)">Add an Order</a></li>
  }
  </ul>
} {
  
  Name: @{coop.name}
  <br>
  Description: @{coop.description}
  <br>
  Coop Type: @{coop.coopType.name}
  <br>
  State: @{coop.state.name}
  <br>
  Zip: @{coop.zip_code}
  <br>

  Manager : @member(coop.manager)

  @if(coop.isPublic || Utils.isMember(session, coop)) {
    <br>
    Members:
    <ul>
    @coop.members.map { m =>
      @if(Utils.isManager(session,coop)) {
	<li><a href="/members/@m.id">View</a>@member(m) - @coop.memberStatus(m).name
      } else {
	

	<li>@member(m)
      }


		     }
    </ul>


    <br/>
    ItemOrders

    <ul>
    @coop.itemOrders.map { itemOrder =>
      <li><a href="@actions.routes.ShowItemOrderAction.showItem(coop.id.get, itemOrder.id.get)">@itemOrder.id - @itemOrder.description - @itemOrder.item.name</a>
			}
    </ul>
  }
  

}

    
