@(item: ItemOrder)(implicit session: Session)

@import helpers.Utils
@import views.html.tags._

@main("Showing Item Order") {
<ul>
@if(Utils.isManager(session, item.coop)) {
  <li><a href="@actions.routes.EditItemOrderAction.editItem(item.coop.id.get, item.id.get)">Edit Order</a>
}
</ul>
} {
  
Id: @{item.id},
<br/>
Name: @{item.item.name},
<br/>
Minimum Buyers: 
@{item.minimumbuyers},
<br/>
Item Cost: @{item.membercost},
<br/>
Description: @{item.description},
<br/>
Order deadline: @{item.deadline_by},
<br/>
Delivery Address: @{item.deliveryaddress},
<br/>
Created at: @{item.created_at},
<br/>
Created by @{member(item.createdBy)},
<br/>
In Coop: @{item.coop.name},
<br/>
Vendor: @{vendor(item.item.vendor)}
<br>
----------------------------
<br/>
# of Members In: @{item.members.size}
<br/>
@{members(item.members)}
<br>
<a href="@actions.routes.AddLoggedInUserToItemOrderAction.action(item.coop.id.get, item.id.get)">I'm in</a>
<br>
<a href="@actions.routes.RemoveLoggedInUserFromItemOrderAction.action(item.coop.id.get, item.id.get)">I'm out</a>
}
